@font-face {
    font-family: 'Roboto';
    src: url('./static/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./static/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./static/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'ZenLoop';
    src: url('./static/fonts/ZenLoop-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZenLoop';
    src: url('./static/fonts/ZenLoop-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 16px 'Roboto', sans-serif;
    font-family: "Roboto", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #F3F3F5;
    border: none;
}

::-webkit-scrollbar-thumb {
    background: #546e7a;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #546e7a;
}
